h2 {
    color: black;
    background-color: yellow;
    font-size: 50px;
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
